{% extends "chat/base.html" %}
{% load static %}

{% block content %}
<h2>Sala de Guerra</h2>
<div id="chat">
    {% for message in messages %}
        <p><strong>{{ message.user.username }}:</strong> {{ message.content }}</p>
    {% endfor %}
</div>

<!-- Formulário para enviar mensagens via WebSocket -->
<input id="chat-message-input" type="text" placeholder="Digite sua mensagem..." required>
<button id="chat-message-submit">Enviar</button>

<!-- Campo oculto para armazenar o nome de usuário -->
<input type="hidden" id="username" value="{{ request.user.username }}">

<!-- Inclua o arquivo JavaScript -->
<script src="{% static 'chat/chat.js' %}"></script>
{% endblock %}